.dropdown {
  margin-top: 30px;
  overflow-y: hidden;
  transition: height 0.2s ease-out;
  font-size: 18px;

  header {
    display: flex;
    justify-content: space-between;
    align-items: center;

    background-color: $salmon_color;

    width: 100%;

    padding: 16px;
    border-radius: 5px;

    span {
      color: $font_color;
      font-weight: 700;
    }

    button {
      border: none;
      background-color: transparent;
      margin-right: 5px;

      transition: rotate 0.2s ease-out;

      img {
        pointer-events: none;
      }
    }
  }

  main {
    position: relative;
    z-index: -1;
    background-color: rgba(246, 246, 246, 0.45);
    width: 100%;
    padding: $spacing_2;
    border-radius: 0px 0px 5px 5px;
    translate: 0 -4%;
    transition: translate 0.2s ease-out;

    ul {
      li {
        list-style-type: none;
        line-height: 1.6;
      }
    }
  }
  main.active {
    translate: 0 -100%;
  }
  button.active {
    rotate: -180deg;
  }

  @include media-query(small) {
    margin-top: $spacing_2;
    font-size: 13px;

    header {
      padding: 6.5px;
    }

    main {
      font-size: 12px;
    }
  }
}
