#error {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  span {
    font-size: 288px;
    font-weight: 700;
    color: $salmon_color;
  }
  h1 {
    color: $salmon_color;
    margin: 100px 0 130px 0;
  }
  a {
    text-decoration: underline;
  }
}
