#homepage {
  & > * {
    width: 100%;
    max-width: 1240px;
    margin: auto;
  }

  .cover-container {
    @include cover-container;

    background-color: rgba(0, 0, 0, 0.6);

    h1 {
      font-size: 48px;
      color: $font_color;
      text-shadow: 1px 1px 0px black, -1px 1px 0px black, 1px -1px 0px black,
        -1px -1px 0px black;
    }
  }

  main {
    display: flex;
    justify-content: center;
    align-items: stretch;
    flex-wrap: wrap;
    background-color: $grey_bg;
    border-radius: $container_radius;
    margin-top: 50px;
    padding: 55px;
    gap: 55px;

    a {
      color: $font_color;
    }

    .product {
      position: relative;
      z-index: 0;

      display: grid;
      grid-template-rows: 3fr 1fr;

      max-width: 340px;
      width: 100%;
      height: 82vw;
      max-height: 340px;

      padding: $padding_xs;
      border-radius: $radius_xs;
      overflow: hidden;

      background-color: transparent;

      img {
        width: 100%;
        height: 100%;
        object-fit: cover;
      }
      h2 {
        font-size: 18px;
        align-self: flex-end;
      }

      &::after {
        display: block;
        position: absolute;
        top: 0;
        left: 0;
        z-index: -1;

        width: 100%;
        height: 100%;
        content: "";
        background: linear-gradient(
          180deg,
          rgba(255, 255, 255, 0) 0%,
          rgb(10, 10, 10, 0) 42%,
          rgb(4, 4, 4, 0.2) 100%,
          rgb(0, 0, 0, 0) 100%
        );
      }

      &::before {
        display: block;
        position: absolute;
        top: 0;
        left: 0;
        z-index: -2;
        width: 100%;
        height: 100%;
        content: "";
        background-color: $primary__bg_color;
      }
    }
  }
}

@media screen and (max-width: 375px) {
  #homepage {
    padding: 0 $padding_xs;

    .cover-container {
      border-radius: $radius_xs;

      h1 {
        font-size: 24px;
      }
    }
    main {
      margin: $padding_xs 0;
      gap: $padding_xs;
      padding: 0;
    }
  }
}
