@mixin cover-container {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 40vw;
  max-height: 223px;
  border-radius: $container_radius;
  overflow: hidden;
  box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);

  img {
    position: absolute;
    top: 50%;
    left: 50%;
    z-index: -1;
    translate: -50% -50%;
    width: 100%;
    max-width: 100%;
  }

  @include media-query(small) {
    height: 111px;
    border-radius: $radius_xs;
  }
}

// _media-queries.scss
@mixin media-query($breakpoint) {
  @if $breakpoint == small {
    @media screen and (max-width: 375px) {
      @content;
    }
  }
}
