#about {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;

  .cover-container {
    width: 100%;
    background-color: rgba(0, 0, 0, 0.3);

    @include cover-container;

    img {
      @include media-query(small) {
        scale: 1.2;
      }
    }
  }

  .about-list {
    max-width: 1023px;
    width: 100%;
  }

  @include media-query(small) {
    padding: 0 $spacing_2;
  }
}
