#error {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 139px;
  padding: 89px 0;

  span {
    font-size: 288px;
    font-weight: 700;
    color: $salmon_color;
  }
  h1 {
    color: $salmon_color;
    width: fit-content;
  }
  a {
    text-decoration: underline;
  }
  @include media-query(small) {
    gap: 113px;
    padding: 113px 0;

    span {
      font-size: 96px;
    }
    h1 {
      text-align: center;
      width: 80%;
      margin: auto;
    }
  }
}
