#homepage {
  & > * {
    width: 100%;
    max-width: 1240px;
    margin: auto;
  }

  .cover-container {
    background-color: rgba(0, 0, 0, 0.6);
    padding: $spacing_2;

    @include cover-container;

    img {
      @include media-query(small) {
        scale: 1.8;
      }
    }

    h1 {
      font-size: 48px;
      color: $font_color;
      text-shadow: 1px 1px 0px black, -1px 1px 0px black, 1px -1px 0px black,
        -1px -1px 0px black;
    }
  }

  main {
    justify-content: center;
    display: grid;
    max-width: 100%;
    width: 100%;
    grid-template-columns: repeat(auto-fill, 340px);
    background-color: $grey_bg;
    border-radius: $radius_2;
    margin-top: $spacing_5;
    padding: $spacing_55;
    gap: $spacing_55;

    a {
      color: $font_color;
      flex: 1;
    }

    .product {
      position: relative;
      z-index: 0;
      display: flex;
      max-width: 100%;
      width: 100%;
      height: 68vw;
      max-height: 340px;
      padding: $spacing_2;
      border-radius: $radius_1;
      overflow: hidden;
      background-color: transparent;

      img {
        position: absolute;
        width: 100%;
        height: 100%;
        top: 0;
        left: 0;
        z-index: -1;
        object-fit: cover;
        filter: brightness(0.75);
      }
      h2 {
        font-size: 18px;
        align-self: flex-end;
        margin-top: 2%;
      }
    }
  }
}

@media screen and (max-width: 375px) {
  #homepage {
    padding: 0 $spacing_2;

    .cover-container {
      h1 {
        font-size: 24px;
      }
    }
    main {
      grid-template-columns: repeat(auto-fill, 335px);
      margin: $spacing_2 0;
      gap: $spacing_2;
      padding: 0;
    }
  }
}
