@import "_variables";
@import "_typo";
@import "_home";
@import "./components/_error";

*,
::before,
::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
#root {
  font-family: "montserrat_regular";
}
