@import "_variables";
@import "_mixins";
@import "_typo";
@import "_home";
@import "_nav";
@import "./components/carrousel";

*,
::before,
::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

a {
  text-decoration: none;
  color: black;
}

#root {
  font-family: "montserrat_regular";

  & > * {
    width: 85%;
    max-width: 1240px;
    margin: auto;
  }
}

@media screen and (max-width: 375px) {
  #root {
    & > * {
      width: 100%;
    }
  }
}
