#navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-top: 45px;
  padding-bottom: 0;

  nav {
    a {
      font-weight: 500;
    }

    & :last-child {
      margin-left: 57px;
    }
  }
}

#footer {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: $spacing_5;

  width: 100% !important;
  max-width: none !important;
  height: 209px;
  background-color: #000000;

  h2 {
    font-size: 24px;
    color: $font_color;
    font-weight: 500;
  }
}

@include media-query(small) {
  #navbar {
    padding: $spacing_2 $spacing_2 0 $spacing_2;

    svg {
      width: 145px;
    }
    nav {
      a {
        font-size: 12px;
        text-transform: uppercase;
      }
      & :last-child {
        margin-left: 27px;
      }
    }
  }
  #footer {
    h2 {
      font-size: 12px;
    }
  }
}
