*,
::before,
::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

a {
  text-decoration: none;
  color: black;
}

h1 {
  font-size: $fz_36;
}

#root {
  @include montserrat-font;

  & > * {
    width: 85%;
    max-width: 1240px;
    margin: auto;
    padding: $spacing_5 0;

    @include media-query(small) {
      width: 100%;
      padding: $spacing_2 0;

      h1 {
        font-size: $fz_18;
      }
    }
  }
}
